<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="url 'seller/ cardata'" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <!-- <label for="car_company">Car Company</label>
        <input type="text" name="car_company">
        <label for="car_name">Car Name</label>
        <input type="text" name="car_name">
        <label for="manu_Date">Manufacture Date</label>
        <input type="date" name="manu_Date">
        <label for="Kilometers">Kilometers</label>
        <input type="text" name="kilometers">
        <label for="Fuel_type">Fuel Type</label>
        <input type="text" name="Fuel_type">
        <label for="color">Color</label>
        <input type="text" name="color">
        <label for="first_owner">First_owner</label>
        <input type="checkbox" name="first_owner">
        <label for="expected_price">Expected Price</label>
        <input type="text" name="expected_price">
        <label for="car_insurance">Car Insurance</label>
        <input type="checkbox" name="car_insurance">
        <label for="insurance_type">Insurance Type</label>
        <input type="text" name="insurance_type">
        <label for="car_registration_no">Car Registration Number</label>
        <input type="text" name="car_registration_no">
        <label for="images">Images</label>
        <input type="image"> -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>