<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>
    <h1>Cars on sale</h1>
    {%if Cars%}
    {% for car in Cars%}
    <img src="../../Images/Testimonials.png" alt="image">
    <h3>{{car.carCompany}}</h3>
    <h3>{{car.carName}}</h3>
    <a href="{% url 'view_more' car.id%}"><button>View More</button></a>
    {%endfor%}
    {%else%}
    <h1>No cars</h1>
    {%endif%}
</body>
</html>