<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car</title>
</head>
<body>
    <img src="../../Images/Testimonials.png" alt="image">
    <h3>{{car.carCompany}}</h3>
    <h3>{{car.carName}}</h3>
    <h3>{{car.manu_Date}}</h3>
    <h3>{{car.kilometers}}</h3>
    <h3>{{car.Fuel_type}}</h3>
    <h3>{{car.color}}</h3>
    <h3>{{car.first_owner}}</h3>
    <h3>{{car.car_insurance}}</h3>
    <h3>{{car.insurance_type}}</h3>
    <h3>{{car.car_registration}}</h3>
    <h3>../..{{car.images.url}}</h3>
    <a href=""><button>Bid</button></a>
</body>
</html>