<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME</h1>
    <a href="{% url 'buy'%}"><button>BUY</button></a>
    {% if user.is_authenticated %}
    <span>Hello {{user.username}}</span>
    <a href="{% url 'logout' %}"><button>LOGOUT</button></a>
    {% else %}
    <a href="{% url 'register'%}"><button>SIGNUP</button></a>
    <a href="{% url 'login'%}"><button>LOGIN</button></a>
    {% endif %}
    <a href="{% url 'cardata' %}"><button>SELL</button></a>
</body>
</html>